:root {
    /* Primary colors */
    --color-primary: hsl(300, 65%, 85%);
    --color-secondary: hsl(300, 65%, 75%);
    --color-accent: hsl(0, 0%, 100%);
    --color-dark: hsl(300, 55%, 55%);

    /* Backgrounds */
    --bg: hsl(322, 35%, 91%);
    --bg-secondary: hsl(322, 35%, 85%);
    --bg-header: hsl(322, 35%, 87%);
    --bg-highlight: hsl(322, 35%, 95%);
    --bg-btc: hsl(322, 100%, 50%);
    --bg-btc-2: hsl(322, 100%, 45%);


    /* Text */
    --text: hsl(0, 0%, 0%);
    --text2: hsl(300, 65%, 25%);

    /* Borders & dividers */
    --border-soft: hsl(220, 14%, 82%);
    --border-strong: hsl(215, 16%, 47%);

    /* Shadows*/
    --shadow: hsl(300, 15%, 75%);
    --shadow-medium: hsla(0, 0%, 0%, 0.15);
}

/* reset css */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

/* quita la linea de los hipervinculos y ajusta el color al negro como predeterminado */
a {
    text-decoration: none;
    color: var(--text);
}

header {
    padding-block: 0.5rem;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-header);
}

nav ul {
    display: flex;
    column-gap: 1rem;
}

nav li {

    list-style: none;
    padding-inline: 1rem;
}

nav a {
    padding: 0.5rem;
}

nav a:hover {
    transition-duration: 300ms;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

nav .btn-cta-highlight {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--text2);
}

nav .btn-cta-highlight:hover {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--color-secondary);
}

#hero-index {
    display: flex;
    background-color: var(--bg-secondary);
    background-image: url("/img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem;
    font-size: 1.5rem;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    margin: auto;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cta-highlight {
    background-color: var(--bg-btc);
    color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
}

.btn-cta-highlight:hover {
    transition-duration: 300ms;
    background-color: var(--bg-btc-2);
}

.service-content>.service-title {
    grid-column-start: 1;
    grid-column-end: 3;
    place-items: center;
    display: grid;
    font-size: 5rem;
}


.service-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.service-content>section {
    place-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--shadow);
    background-color: var(--bg-highlight);
    padding: 1rem;
}

.service-content .ico {
    font-size: 3rem;
}

.service-content>.service-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-item1>.content-title {
    margin: 1rem;
}


.service-content>.service-item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.service-item2>.content-title {
    margin: 1rem;
}

.service-content>.service-item3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.service-item3>.content-title {
    margin: 1rem;
}

footer {
    text-align: center;
    background-color: var(--color-dark);
    margin-top: auto;
    padding: 2rem;
    height: 2rem;
}

@media (max-width: 800px) {
    nav {
        display: none;
    }
}